<!DOCTYPE html>

<html>
<head>
    <style type='text/css'>
        BODY, TD {
            font-family: arial, sans-serif
        }
        
        LI {
            font-size: 10pt;
        }
    </style>
    <meta charset='utf-8'/>
    <script src="exe_jquery.js" type='text/javascript'></script>

    <script src="jquery.mobile.min.js" type='text/javascript'></script>
    <script src="ustadjs.js" type="text/javascript"></script>
    <link rel='stylesheet' href='ustad_micro.css' />
    <link rel='stylesheet' href='jqm-app-theme.css' />
    <link rel="stylesheet" href="jqm-base.css" />

    <script type="text/javascript">
    $(function() {
        $("#ustad_epub_frame").opubframe();
        $("#ustad_epub_frame").opubframe("option", "height", "185px");
        $("#ustad_epub_frame iframe").attr("scrolling","no");
        $("#ustad_epub_frame").css("margin", "0px");
        $("#ustad_epub_frame").opubframe("loadfromopf", "package.opf");
    });
    
    var $UstadMicro = {
        go: function(increment,cell) {
            $('#ustad_epub_frame').opubframe('go', increment);
            $("#ustad_menubarcell_" + cell).css("background-color", "black");
            setTimeout(function() {
                $("#ustad_menubarcell_" + cell).css("background-color", "gray");
            }, 300);
        },
        
        scrollFrame: function(increment) {
            var iFrameEl = $("#ustad_epub_frame iframe")[0];
            iFrameEl.contentWindow.scrollBy(0, increment);
        }
    };
    
    </script>
    
    
    <meta charset='utf-8'/>
</head>

<body>
    <table width="100%">
        <tr>
            <td style="width: 20%" valign="top">
                &nbsp;
            </td>
            <td width="400">
                <div id="framemain" style="height: 472px; width: 226px; margin-left: auto; margin-right: auto; display: block; border: 1px solid white;">
                    <img src='mobiledevice_micro.png' style='position:absolute; z-order: 10' usemap='#phonemap'/>
                    <map name='phonemap'>
                        <!-- Middle Soft Key -->
                        <area shape='circle' coords='113,300,13' onclick="$UstadMicro.go(1, 'middle')"/>
                        
                        <!-- Right Soft Key -->
                        <area shape='rect' coords='158,290,208,314' onclick="$UstadMicro.go(-1, 'right')"/>
                        
                        <!-- scroll up -->
                        <area shape='rect' coords='100,278,128,288' onclick="$UstadMicro.scrollFrame(-10)"/>
                        
                        <area shape='rect' coords='100,311,128,321' onclick="$UstadMicro.scrollFrame(10)"/>
                        
                    </map>

                    <div style="position: absolute; border: 0px; padding: 0px; margin-left: 26px; margin-top: 45px; width: 176px; height: 220px; z-order: 500">
                        <div id="ustad_epub_frame" style="width:100%; height: 200px; border: 1px solid black">
                
                        </div>
        
                        <table width="100%" cellpadding='0' cellspacing='0' style='background-color: gray; height: 34px'>
                            <tr>
                                <td width='33%'><span class='micro_menubar_link'>Options</td></td>
                
                                <td width='33%' align='center' class='micro_menubar_defaultcell' id='ustad_menubarcell_middle'>
                                    <a class='micro_menubar_link micro_menubar_link_default' id="umForward" onclick="$UstadMicro.go(1, 'middle')">Next</a>
                                </td>
                
                                <td width='33%' align='right' id='ustad_menubarcell_right'>
                                    <a class='micro_menubar_link' id="umBack" onclick="$UstadMicro.go(-1, 'right')">Back</a>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </td>

            <td style="width: 20%" valign="top">
            &nbsp;
            </td>
        </tr>
    </table>

</body>


</html>


