
<div class='exednd_element exe_area_${fieldid} exetarget_${exetarget}' id="exedndelement_${fieldid}" 
	    data-exednd-pos="${left},${top}"
	    data-exednd-origdimensions="${width},${height}"
        data-exednd-dragmode="${draggable}"
        data-exednd-revert="${ondropinvalid}"
        data-exednd-fbcorrect='${correctfeedbackel}'
        data-exednd-fbwrong='${wrongfeedbackel}'
	    style='position: absolute; width: ${width}px; height: ${height}px;' 
	    data-exednd-target='${exetarget}' data-exednd-updatefield="${coord_field_id}">
	    
	    ${selected_content}
	     
</div>


